<section id="faq" class="bg-dark text-white">
    <div class="container text-center">
        <h1 class="text-center">EDUCATION</h1>
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <p>
                    Individuals who choose to pursue Special Education as a career path deserve our utmost respect. 
                    These professionals put in a copious amount of time and attention, all while maintaining an incredible amount of patience, 
                    to care for children with disabilities. Becoming a successful special educator requires a specific academic background and
                     rigorous training as part of an undergraduate degree. In order to create the best program for people with special needs.
                     We have carefully selected the best people in these fields and created programs for their suggestive titles.
                     </p>
            <div class="row">
                <div id="accordion">

                    <!--SECTION 1-->
                    <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> CREATIVITY</a>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse">
                            <div class="card-body">
                                <div class="row hiking-all">
                                    <img class="col-md-7 col-sm-12 col-xs-12  image-hiking" src="./assets/img/creative.jpg">

                                    <p class="col-md-5 col-sm-12 col-xs-12 tekst">
                                        <span>
                                            <i>
                                                “I chose not to place "DIS", in my ability”

                                            </i></span><br><br>
                                            Do not mention someone’s disability unless it is essential to the story.
                                            The fact that someone is blind or uses a wheelchair may or may not be relevant to the article you are writing.  Only identify a person as having a disability if this information is essential to the story. For example, say “Board president Chris Jones called the meeting to order.” Do not say, “Board president Chris Jones, who is blind, called the meeting to order.”  It’s ok to identify someone’s disability if it is essential to the story. For example, “Amy Jones, who uses a wheelchair, spoke about her experience with using accessible transportation.”   
                                                                                        <br>                                         </p>

                                    <div class="col-md-12 hiking-started">
                                        <h4>Getting Started</h4>
                                        <p>
                                            For amputees, it’s also important to check with their prosthetist to
                                            make sure their socket is properly fitting. If it’s not comfortable
                                            during everyday activities, it won’t be comfortable on a hike and can
                                            result in sores or skin breakdowns.
                                        </p>
                                        <h4>Equipment</h4>
                                        <p>For longer and steeper walks, hiking poles (either one or two) can be
                                            helpful for balance, visual perception, and can help with push-off
                                            issues. They also take the burden off knees and thighs, helpful to
                                            those that have balance or fatigue issues. LEKI USA has a wide
                                            selection of walking poles.</p>

                                        <h4>
                                            Adaptive Equipment
                                        </h4>
                                        <p>
                                            For individuals who use a wheelchair or have limited mobility, there
                                            are several off-road chairs, off-road chair accessories, off-road
                                            handcycles, and general off-road adaptive accessories available.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--SECTION 2-->
                    <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> LATERAL THINKING AND LOGIC PUZZLES</a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse">
                            <div class="card-body">
                                <div class="row">

                                    <p class="col-md-5 col-sm-12 col-xs-12 tekst-left">
                                        <span>
                                            <i>
                                                “We, the ones who are challenged, need to be heard. To be seen not as a disability, but as a person who has and will continue to bloom. To be seen not only as a handicap, but as a well intact human being"

                                            </i></span><br><br>
                                            Do not use condescending euphemisms.
                                            Terms like differently-abled, challenged, handi-capable or special are often considered condescending. 
                                                                                        <br>                                         </p>
                                    <img class="col-md-7 col-sm-12 col-xs-12 image-running" src="./assets/img/math.jpg">
                                    <div class="col-md-12 hiking-started">

                                        
                                        <h4>Getting Started</h4>
                                        <p>
                                            
                                            Just because you have never run farther than the bus stop, is not a
                                            reason to ignore the pleasures of recreational and competitive running.
                                            The sport provides many
                                            benefits. Besides improving overall health, cholesterol levels, and
                                            lung function, running is a confidence booster, a stress reliever, and
                                            a depression buster.
                                            <br>
                                            Having a disability, whether its amputation, paralysis, or vision loss,
                                            doesn’t mean you can’t join the thousands of others who find the sport
                                            a winning choice.
                                        </p>
                                        <h4>
                                            Adaptive Equipment
                                        </h4>
                                        <p>
                                            For individuals who use a wheelchair or have limited mobility, there
                                            are several off-road chairs, off-road chair accessories, off-road
                                            handcycles, and general off-road adaptive accessories available.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--SECTION 3-->
                    <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0 ">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> WRITING</a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse">
                                <div class="card-body">
                                    <div class="row hiking-all">
                                        <img class="col-md-7 col-sm-12 col-xs-12  image-hiking" src="./assets/img/write.jpg">

                                        <p class="col-md-5 col-sm-12 col-xs-12 tekst">
                                            <span>
                                                <i>
                                                    “You may say I'm a dreamer, but I'm not the only one. I hope
                                                    someday you'll join us. And the world will live as one.”

                                                </i></span><br><br>
                                            Everyone is concerned with fitness these days. Many people are also
                                            concerned with watching their personal budget, too. So what activity offers
                                            fun and fitness as well as being easy on the wallet?
                                            <br>
                                        </p>

                                        <div class="col-md-12 hiking-started">
                                            
                                            <h4>Getting Started</h4>
                                            <p>
                                                For amputees, it’s also important to check with their prosthetist to
                                                make sure their socket is properly fitting. If it’s not comfortable
                                                during everyday activities, it won’t be comfortable on a hike and can
                                                result in sores or skin breakdowns.
                                            </p>
                                            <h4>Equipment</h4>
                                            <p>For longer and steeper walks, hiking poles (either one or two) can be
                                                helpful for balance, visual perception, and can help with push-off
                                                issues. They also take the burden off knees and thighs, helpful to
                                                those that have balance or fatigue issues. LEKI USA has a wide
                                                selection of walking poles.</p>

                                            <h4>
                                                Adaptive Equipment
                                            </h4>
                                            <p>
                                                For individuals who use a wheelchair or have limited mobility, there
                                                are several off-road chairs, off-road chair accessories, off-road
                                                handcycles, and general off-road adaptive accessories available.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    <!--Section 4-->
                    <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> MOTIVATION SPEECH</a>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse">
                                <div class="card-body">
                                    <div class="row">

                                        <p class="col-md-5 tekst-left">
                                            <span>
                                                <i>
                                                    “The challenges in our lives are there to STRENGTHEN our CONVICTIONS. They are NOT there to run us over.”"

                                                </i></span><br><br>

                                                Do not assume that people with disabilities are willing to disclose their disability. While some people prefer to be public about their disability, such as including information about their disability in a media article, others choose to not be publically identified as a person with a disability.
                                                Describing people without disabilities.
                                                In discussions that include people both with and without disabilities, do not use words that imply negative stereotypes of those with disabilities.
                                                                                                <br> 
                                        </p>
                                        <img class="col-md-7 col-sm-12 col-xs-12  image-running-left" src="./assets/img/debat.jpg">
                                        <div class="col-md-12 col-sm-12 col=col-xs-12 hiking-started">
                                            <h4>Getting Started</h4>
                                            <p>
                                                Just because you have never run farther than the bus stop, is not a
                                                reason to ignore the pleasures of recreational and competitive running.
                                                The sport provides many
                                                benefits. Besides improving overall health, cholesterol levels, and
                                                lung function, running is a confidence booster, a stress reliever, and
                                                a depression buster.
                                                <br>
                                                Having a disability, whether its amputation, paralysis, or vision loss,
                                                doesn’t mean you can’t join the thousands of others who find the sport
                                                a winning choice.
                                            </p>
                                            <h4>
                                                Adaptive Equipment
                                            </h4>
                                            <p>
                                                For individuals who use a wheelchair or have limited mobility, there
                                                are several off-road chairs, off-road chair accessories, off-road
                                                handcycles, and general off-road adaptive accessories available.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>

    </div>
</section>