<!--About Us-->
<div class="container-fluid about-us"> 
  <div class="row col-md-10 col-md-offset-1">
      <div>
      <h2>About Us</h2>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <br>
    <br>
      </div>
  </div>

  <div class="row red2 col-md-10 col-md-offset-1">
  <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <img src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.0-9/47681731_2212107115699655_8555305507642933248_n.jpg?_nc_cat=104&_nc_ht=scontent.fskg1-1.fna&oh=18e91c4cea6aab5c7c7228884026a672&oe=5C99862B" class="img-circle" alt="Cinque Terre"  height="250">  
    <h4> Borjan Stojanovski</h4>
    <h4><small>CEO</small></h4>
    <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    <br>
    <br>
    <br>
    <br>
  
      
  </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <img src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.0-9/13245506_1195087263846357_4971802592169965091_n.jpg?_nc_cat=110&_nc_ht=scontent.fskg1-1.fna&oh=145a716536a8e33b416ed4e4c7999aaa&oe=5CD75E86" class="img-circle" alt="Cinque Terre"  height="250">  
          <h4> Kristijan Stojchevski</h4>
    <h4><small>CEO</small></h4>
    <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    <br>
    <br>
    <br>
    <br>
      
  </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <img src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.0-9/32949532_1816852228391189_1924078699305500672_n.jpg?_nc_cat=104&_nc_ht=scontent.fskg1-1.fna&oh=0b87eb56b40851c39e3ff37d9abf9da6&oe=5C934AE6" class="img-circle" alt="Cinque Terre"  height="250">  
    <h4>David Kostadinov</h4>
    <h4><small>CEO</small></h4>
    <br>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     
  </div>
  </div>
</div>