<section id="faq" class="bg-dark text-white">
  <div class="container text-center">
      <h1 class="text-center">FUN</h1>
      <div class="col-md-10 col-md-offset-1 col-sm-12">
          <p>
              We searched to find places that offered a way forward. We searched, we learned, we worked, and we traveled to wherever we needed to go. We found answers. And we still continue the search.
              If everyone had the chance to work with special needs kids at least once in their lifetime the world would a better place.                         </p>
          <div class="row">
              <div id="accordion">

                  <!--SECTION 1-->
                  <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> CINEMA & THEATRE </a>
                          </h2>
                      </div>
                      <div id="collapseOne" class="collapse">
                          <div class="card-body">
                              <div class="row hiking-all">
                                  <img class="col-md-7 col-sm-12 col-xs-12  image-hiking" src="https://media1.fdncms.com/chicago/imager/the-art-of-disability-on-display-at-bodies-of-work/u/slideshow/9576757/momenta-teaser.jpg">

                                  <p class="col-md-5 col-sm-12 col-xs-12 tekst1">
                                      <span>
                                          <i>
                                              “We want to get people to think about disability not as some problem to be solved but as different needs to be explored”

                                          </i></span><br><br>
                                          One of the worst stereotypes about art by disabled artists is that it's amateur work—created as therapy, displayed as an act of kindness, and worthy, at best, of the label "outsider art." And though our organization does encourage the work of young and emerging artists in various events it hosts throughout the year, the first major decision made in creating this year's festival was to showcase only the work of all type of artists.                                                                                              <br>                                         </p>

                                  <div class="col-md-12 hiking-started">
                                      <h4>Getting Started</h4>
                                      <p>
                                          For amputees, it’s also important to check with their prosthetist to
                                          make sure their socket is properly fitting. If it’s not comfortable
                                          during everyday activities, it won’t be comfortable on a hike and can
                                          result in sores or skin breakdowns.
                                      </p>
                                      <h4>Equipment</h4>
                                      <p>For longer and steeper walks, hiking poles (either one or two) can be
                                          helpful for balance, visual perception, and can help with push-off
                                          issues. They also take the burden off knees and thighs, helpful to
                                          those that have balance or fatigue issues. LEKI USA has a wide
                                          selection of walking poles.</p>

                                      <h4>
                                          Adaptive Equipment
                                      </h4>
                                      <p>
                                          For individuals who use a wheelchair or have limited mobility, there
                                          are several off-road chairs, off-road chair accessories, off-road
                                          handcycles, and general off-road adaptive accessories available.
                                      </p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!--SECTION 2-->
                  <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">COFFEE SOCIALS</a>
                          </h2>
                      </div>
                      <div id="collapseTwo" class="collapse">
                          <div class="card-body">
                              <div class="row">

                                  <p class="col-md-5 col-sm-12 col-xs-12 tekst-left">
                                      <span>
                                          <i>
                                              “Good jobs for people with disabilities are possible to find. No matter what type of disability you might have, you can discover the satisfaction that often comes from realizing—and using—your strongest abilities and skills."

                                          </i></span><br><br>
                                          Do not use condescending euphemisms.
                                          Terms like differently-abled, challenged, handi-capable or special are often considered condescending. 
                                                                                      <br>                                         </p>
                                  <img class="col-md-7 col-sm-12 col-xs-12 image-running" src="https://www.thelocal.it/userdata/images/article/a93ad248ecf28fa3899b30d1108eada9dbd4cfed6fe10436ba08cb36dce91bbe.jpg">
                                  <div class="col-md-12 hiking-started">

                                      
                                      <h4>Getting Started</h4>
                                      <p>
                                          
                                          Just because you have never run farther than the bus stop, is not a
                                          reason to ignore the pleasures of recreational and competitive running.
                                          The sport provides many
                                          benefits. Besides improving overall health, cholesterol levels, and
                                          lung function, running is a confidence booster, a stress reliever, and
                                          a depression buster.
                                          <br>
                                          Having a disability, whether its amputation, paralysis, or vision loss,
                                          doesn’t mean you can’t join the thousands of others who find the sport
                                          a winning choice.
                                      </p>
                                      <h4>
                                          Adaptive Equipment
                                      </h4>
                                      <p>
                                          For individuals who use a wheelchair or have limited mobility, there
                                          are several off-road chairs, off-road chair accessories, off-road
                                          handcycles, and general off-road adaptive accessories available.
                                      </p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!--SECTION 3-->
                  <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          <div class="card-header" id="headingThree">
                              <h2 class="mb-0 ">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> PARTY </a>
                              </h2>
                          </div>
                          <div id="collapseThree" class="collapse">
                              <div class="card-body">
                                  <div class="row hiking-all">
                                      <img class="col-md-7 col-sm-12 col-xs-12  image-hiking" src="https://www.abc.net.au/news/image/9000862-3x2-700x467.jpg">

                                      <p class="col-md-5 col-sm-12 col-xs-12 tekst">
                                          <span>
                                              <i>
                                                  “You may say I'm a dreamer, but I'm not the only one. I hope
                                                  someday you'll join us. And the world will live as one.”

                                              </i></span><br><br>
                                              Yes! Disability is not inability. Being disabled should not stop you from living life and having fun. Parties are one of the ways that we have fun and connect with our friends and families.
                                                   In a party a lot of things go on people eat, they dance, people make presentations, people go crazy and also they play games.
                                               Many times when it comes to games the disabled we are left out making them feel left out and make them not want to attend parties.

                                              <br>
                                      </p>

                                      <div class="col-md-12 hiking-started">
                                          
                                          <h4>Getting Started</h4>
                                          <p>
                                              For amputees, it’s also important to check with their prosthetist to
                                              make sure their socket is properly fitting. If it’s not comfortable
                                              during everyday activities, it won’t be comfortable on a hike and can
                                              result in sores or skin breakdowns.
                                          </p>
                                          <h4>Equipment</h4>
                                          <p>For longer and steeper walks, hiking poles (either one or two) can be
                                              helpful for balance, visual perception, and can help with push-off
                                              issues. They also take the burden off knees and thighs, helpful to
                                              those that have balance or fatigue issues. LEKI USA has a wide
                                              selection of walking poles.</p>

                                          <h4>
                                              Adaptive Equipment
                                          </h4>
                                          <p>
                                              For individuals who use a wheelchair or have limited mobility, there
                                              are several off-road chairs, off-road chair accessories, off-road
                                              handcycles, and general off-road adaptive accessories available.
                                          </p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>

                  <!--Section 4-->
                  <div class="thumbnail" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                          <div class="card-header" id="headingFour">
                              <h2 class="mb-0">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">GAME NIGHT</a>
                              </h2>
                          </div>
                          <div id="collapseFour" class="collapse">
                              <div class="card-body">
                                  <div class="row">

                                      <p class="col-md-5 tekst-left">
                                          <span>
                                              <i>
                                                  “I do not have a disability, I have a gift! Others may see it as a disability, but I see it as a challenge. This challenge is a gift because I have to become stronger to get around it, and smarter to figure out how to use it; others should be so lucky.”

                                              </i></span><br><br>

                                              Do not assume that people with disabilities are willing to disclose their disability. While some people prefer to be public about their disability, such as including information about their disability in a media article, others choose to not be publically identified as a person with a disability.
                                              Describing people without disabilities.
                                              In discussions that include people both with and without disabilities, do not use words that imply negative stereotypes of those with disabilities.
                                                                                              <br> 
                                      </p>
                                      <img class="col-md-7 col-sm-12 col-xs-12  image-running-left" src="https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/c/83/c83600bd-afd2-59a1-b329-62ab7c8ad1d2/50f3734b90478.image.jpg">
                                      <div class="col-md-12 col-sm-12 col=col-xs-12 hiking-started">
                                          <h4>Getting Started</h4>
                                          <p>
                                              Just because you have never run farther than the bus stop, is not a
                                              reason to ignore the pleasures of recreational and competitive running.
                                              The sport provides many
                                              benefits. Besides improving overall health, cholesterol levels, and
                                              lung function, running is a confidence booster, a stress reliever, and
                                              a depression buster.
                                              <br>
                                              Having a disability, whether its amputation, paralysis, or vision loss,
                                              doesn’t mean you can’t join the thousands of others who find the sport
                                              a winning choice.
                                          </p>
                                          <h4>
                                              Adaptive Equipment
                                          </h4>
                                          <p>
                                              For individuals who use a wheelchair or have limited mobility, there
                                              are several off-road chairs, off-road chair accessories, off-road
                                              handcycles, and general off-road adaptive accessories available.
                                          </p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
    </div>
  </div>
</section>