<section class="text-center bg-honey padding" id="comments-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2 class="uppercase">COMMENTS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<hr class="teal-line"></div>
		</div>
		<div class="row margin-side">
			<div class="col-md-12">
				<h3>
					We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.
				</h3>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div id="myCarousel2" class="carousel slide " data-ride="carousel">

					<ol class="carousel-indicators custom-ind">
						<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel2" data-slide-to="1"></li>
					</ol>

					<div class="carousel-inner white-text uppercase cover row-carousel">
						<div class="item active ">

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
                      <img src="./assets/img/person-1.jpg" alt=""  class="img-responsive">
                    </div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-2.jpg" class="img-responsive"></div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
										</p>
										<p>
											A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-3.png" class="img-responsive"></div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-4.jpg" class="img-responsive"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-2.jpg" class="img-responsive"></div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
										</p>
										<p>
											A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-3.png" class="img-responsive"></div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="card">
									<div class="text">
										<p>
											It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-4.jpg" class="img-responsive"></div>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">

								<div class="card">
									<div class="text">
										<p>
											 Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.
										</p>
									</div>
									<div class="bottom">
										<div class="icont">
											<i class="fa fa-quote-left"></i>
										</div>
										<div class="title">
											<h5>John McIntyre</h5>
											<p>CEO, TransTech</p>
										</div>
										<div class="avatar">
											<img alt="" src="./assets/img/person-1.jpg" class="img-responsive"></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>